_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
# Ignore executables from projects
projects/numerical_algebra/*.exe
projects/numerical_algebra/*.o
references/
computer_vision/*

# Ignore .lyx and .pdf files inside projects
projects/**/*.lyx
projects/**/*.pdf